* {
    box-sizing: border-box;
  }
  .img{
    width:200px ; 
    height:80px; 
    float:left;
  border-radius:30%;
  margin-right: 0%;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background-color:#f1f1f19a;;
  }
  .carousel{
    border: 7px groove rgb(87, 7, 7);
    box-shadow: 10px 7px rgb(80, 78, 78);
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: white;
  }
  
  .header h1 {
    font-size: 50px;
  }
.topnav {
  margin: 1.2%;
  border-radius: 5px;
    overflow: hidden;
    float: right;
    /*background-color: #333;*/
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    border: 3px solid rgb(116, 113, 96);
    border-radius: 10px;
    background-color: rgb(81, 83, 66);
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .mainpage{
    padding: 10%;

  }
 .leftcolumn{
  float: left;
  width: 50%;
  padding: 5%;
 }
 .rightcolumn{
  float: right;
  width: 50%;
 }
 .card{
  padding: 5%;
  margin: 5%;
  border:3px groove rgb(226, 222, 222) ;
  box-shadow: 7px 5px rgb(80, 78, 78);
  border-radius: 10px;
  
 }
  /* Footer */
  .footer {
    border: #ddd;
    border-radius: 5px;
    margin: 1.2%;
    text-align: center;
  width: 100%;
  background-color: #ddd;
  margin-top:50%;
  } 
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }